@font-face {
  font-family: "Source Serif Pro";
  src: url("fonts/SourceSerifPro-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Serif Pro";
  src: url("fonts/SourceSerifPro-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Source Serif Pro", sans-serif;
  font-weight: 400;
  line-height: normal;
}
