.article {
  color: $dark-gray-color;

  .article__intro {
    margin-bottom: 40px;
  }

  h1 {
    @extend %heading-1;
    margin-top: 1.5em;
    margin: 1em 0;
  }

  h2 {
    @extend %heading-2;
    margin-top: 1.5em;
    margin-bottom: 1em;
  }

  h3 {
    @extend %heading-3;
    margin-top: 1.4em;
    margin-bottom: 1em;
  }

  p {
    font-size: 18px;
    line-height: 140%;
    margin: 1em 0;
  }

  *:last-child {
    margin-bottom: 0;
  }

  ul {
    margin: 1em 0;
  }

  li:not([class]) {
    font-size: 16px;
    line-height: 156%;
    color: $dark-gray-color;
    position: relative;
    padding-left: 16px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0.5em;
      width: 6px;
      height: 6px;
      background-color: $dark-gray-color;
      border-radius: 50%;
    }
  }

  li:not([class]) + li:not([class]) {
    margin-top: 12px;
  }

  @media screen and (min-width: 1200px) {
    p {
      font-size: 16px;
      line-height: 156%;
    }
  }
}
