.btn-1 {
  display: inline-flex;
  align-items: center;
  gap: 10px;

  > svg {
    width: 24px;
    height: 24px;
    fill: $accent-color;
  }

  > span {
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: $accent-color;
  }

  &:hover {
    > svg {
      fill: $hover-color;
    }

    > span {
      color: $hover-color;
    }
  }
}

.btn-2 {
  display: inline-flex;
  background: $light-gray-color-1;
  border-radius: 3px;
  gap: 8px;
  align-items: center;
  padding: 8px 15px;
  transition: all 0.2s ease-in-out;

  > svg {
    width: 11px;
    height: 13px;
    fill: $accent-color;
  }

  > span {
    text-transform: capitalize;
    color: $accent-color;
    font-size: 12px;
  }

  &:hover {
    background-color: $accent-color;

    > svg {
      fill: #fff;
    }

    > span {
      color: #fff;
    }
  }
}

.btn-3 {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  background: $light-gray-color-1;
  border-radius: 4px;
  gap: 8px;
  transition: all 0.2s ease-in-out;

  > span {
    font-size: 14px;
    color: $accent-color;
  }

  > svg {
    width: 5px;
    height: 8px;
    fill: $accent-color;
  }

  &:hover {
    background-color: $accent-color;

    > span {
      color: #fff;
    }

    > svg {
      fill: #fff;
    }
  }
}

.btn-4 {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  background: $accent-color;
  border-radius: 4px;
  gap: 8px;
  transition: all 0.2s ease-in-out;

  > span {
    font-size: 14px;
    color: #fff;
    text-transform: capitalize;
  }

  > svg {
    width: 5px;
    height: 8px;
    fill: #fff;
  }

  &:hover {
    background-color: $hover-color;
  }

  &_big {
    padding: 11px 22px;
  }
}

.btn {
  display: inline-block;
  text-align: center;
  padding: 8px 16px;
  background: $accent-color;
  border-radius: 4px;
  transition: all 0.2s ease-in;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  text-transform: capitalize;

  &:hover {
    background-color: $hover-color;
  }

  &_big {
    padding: 11px 22px;
  }

  &_secondary {
    background-color: $light-gray-color-1;
    color: $accent-color;

    &:hover {
      background-color: $accent-color;
      color: #fff;
    }
  }
}
