.custom-radio {
  cursor: pointer;
  position: relative;
  display: block;

  &__input {
    opacity: 0;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  &__text {
    color: $primary-color;
    font-size: 16px;
    position: relative;
    padding-left: 24px;
    display: inline-flex;
    align-items: center;
    user-select: none;
    min-height: 18px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 1px;
      display: inline-block;
      width: 16px;
      height: 16px;
      border: 1px solid $primary-color;
      box-sizing: border-box;
      border-radius: 50%;
    }

    &::after {
      content: "";
      position: absolute;
      left: 5px;
      top: 6px;
      width: 6px;
      height: 6px;
      background-color: $primary-color;
      border-radius: 50%;
      opacity: 0;
    }
  }

  &__input:checked + &__text::before {
    // background-color: $primary-color;
    border: 1px solid $primary-color;
  }

  &__input:checked + &__text::after {
    opacity: 1;
  }
}
