.topnav {
  position: absolute;
  transform: translateY(-100%);
  top: 100%;
  width: 100%;
  left: 0;
  padding: 0 16px;
  background-color: #fff;
  border-bottom: 1px solid $light-gray-color-2;
  padding-bottom: 32px;
  transition: all 0.2s ease-in-out;
  visibility: hidden;
  z-index: 0;
  margin-left: auto;

  &_is-open {
    visibility: visible;
    transform: translateY(0%);
  }

  &__list {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__item {
    width: 100%;
    text-align: center;

    // &_has-submenu .topnav__link,
    // &_has-submenu .submenu-toggle {
    //   position: relative;
    //   right: -8px;

    //   @media screen and (min-width: 1200px) {
    //     right: 0;
    //   }
    // }

    @media screen and (min-width: 1200px) {
      width: auto;

      &:hover .topnav__submenu {
        display: block;
      }

      &:hover .submenu-toggle::after {
        transform: translateY(-50%) rotate(0deg);
      }
    }
  }

  &__item + &__item {
    padding-top: 10px;
  }

  &__link {
    font-weight: 600;
    font-size: 14px;
    display: inline-block;
    padding: 15px 0;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: $primary-color;

    &:hover {
      text-decoration: underline;
    }

    &_donate {
      color: $accent-color;

      &::before {
        content: "";
        display: inline-block;
        width: 13px;
        height: 12px;
        margin-right: 6px;
        background-image: url("img/icons/heart.svg");
      }
    }
  }

  &__submenu {
    margin-top: 8px;
    display: none;

    &_is-open,
    &:hover {
      display: block;
    }

    @media screen and (min-width: 1200px) {
      position: absolute;
      margin-top: 0;
    }
  }

  @media screen and (min-width: 1200px) {
    position: static;
    transform: none;
    width: auto;
    padding: 0;
    border-bottom: none;
    transition: none;
    visibility: visible;

    &__list {
      flex-direction: row;
    }

    &__item + &__item {
      padding-top: 0;
      margin-left: 40px;
    }

    &__link {
      font-size: 12px;

      &_donate {
        &::before {
          transform: translateY(1px);
        }
      }
    }
  }
}

.submenu {
  &__item > a {
    font-weight: 600;
    font-size: 14px;
    color: $gray-color;
    display: block;
    padding: 8px 0;
    text-align: center;

    &:hover {
      background-color: #f4f4f4;
    }
  }

  @media screen and (min-width: 1200px) {
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid $light-gray-color-2;

    &__item > a {
      font-size: 12px;
      color: $primary-color;
      min-width: 150px;
      text-align: left;
      line-height: 165%;
      padding: 8px 16px;
    }
  }
}

.submenu-toggle {
  padding-left: 16px;
  transform: translateY(-3px) rotate(0deg);

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 8px;
    height: 4px;
    background-image: url("img/menu-bird.svg");
    background-repeat: no-repeat;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    transition: transform 0.1s ease-in-out;
  }

  &_open::after {
    transform: translateY(-50%) rotate(0deg);
  }
}
