.post-tags {
  display: flex;

  &__item + &__item {
    margin-left: 24px;
  }

  &__link {
    font-size: 16px;
    line-height: 156%;
    color: $dark-gray-color;

    &:hover {
      color: $primary-color;
    }
  }
}
